#main {
    overflow-y: scroll;
    background-color: gray;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center;
    row-gap: 15px;
}

#main img {
    width: 300px;
    height: 200px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    border: solid 2px rgba(0,0,0,0.5);
}

#main img:hover {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
  border: solid 2px snow;
}

::-webkit-scrollbar {
    width: 15px;
  }
::-webkit-scrollbar-track {
    background: rgb(161, 161, 161); 
  }
::-webkit-scrollbar-thumb {
    background: rgb(110, 110, 110); 
  }
::-webkit-scrollbar-thumb:hover {
    background: rgb(65, 65, 65); 
  }