.dropdown {
    position: relative;
    display: inline-block;
    background-color: grey;
    border: none;
}

.dropdown-content {
    font-weight: 500;
    display: none;
    position: absolute;
    margin-top: 50px;
    right: 0;
    background-color: gray;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    z-index: 1;
}
  
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 24px;
}


.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: black;

}

.dropdown:hover .dropdown-content {
  display: block;
}

#logout {
    color:darkred;
}