header {
    border-bottom-color:rgb(110, 110, 110);
    border-top-color: rgb(110, 110, 110);
    border-top-style: solid;
    border-top-width: 7px;
    border-bottom-width: 4px;
    border-bottom-style: solid;    
    background-color:gray;
}